@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

#container {
    max-width: 100vw;
    min-width: 700px;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 345px;
    max-width: 400px;
    margin: 10px auto;
    padding: 5px;

    border: 1px solid cornflowerblue;
    border-radius: 5px;
}


.detains-btn,
.post-of-current-user-btn {
    font-family: "Roboto", sans-serif;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: cornflowerblue;
    color: aliceblue;
    cursor: pointer;
    width: 70%;
    margin: 10px 0;
}

.detains-btn:hover,
.post-of-current-user-btn:hover {
    background-color: aliceblue;
    color: cornflowerblue;
    border: 1px solid cornflowerblue;
    transition: all 5ms ease;
}

.post-of-current-user-btn {
    width: 100%;
}

#posts-container {
    margin-top: 20px;
}

.post-div {
    width: 18%;

    display: inline-block;
    margin: 1%;
    background-color: #96b4ea;
    color: aliceblue;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.view-details {
    color: #5a7d94;
    text-decoration: none;
}

.view-details:hover {
    color: #dce3ea;
}